body{
  width: 100%;
  max-width: 1100px;
  font-family: 'Vollkorn', serif;
  margin: 0 auto;
  display: grid;
  grid-template: 
  "... ...... ...... ...... ...... ...... ..." 
  "... header header header header header ..." 30vh
  "... ...... ...... ...... ...... ...... ..." 
  "... secA   secA   secA   secA   secA   ..." 130vh
  "... ...... ...... ...... ...... ...... ..." 
  "... subSec subSec subSec subSec subSec ..." 10vh
  "... ...... ...... ...... ...... ...... ..." 
  "... secB   secB   secB   secB   secB   ..." 1fr
  "... ...... ...... ...... ...... ...... ..." 
  "... secC   secC   secC   secC   secC   ..." 100vh
  "... ...... ...... ...... ...... ...... ..." 
  "... secD   secD   secD   secD   secD   ..." 70vh
  "... ...... ...... ...... ...... ...... ..." 
  "... secE   secE   secE   secE   secE   ..." 70vh
  "... ...... ...... ...... ...... ...... ..." 
  "... footer footer footer footer footer ..." 1fr
  "... ...... ...... ...... ...... ...... ..." 
  /auto 1fr auto 1fr auto 1fr auto
  ;
}
header{
  grid-area: header;
}
.secA{
  grid-area: secA;
}
.subSec{
  grid-area: subSec;
}
.secB{
  grid-area: secB;
}
.secC{
  grid-area: secC;
}
.secD{
  grid-area: secD;
}
.secE{
  grid-area: secE;
}
footer{
  grid-area: footer;
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #e9cb8cb0;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
li{
  list-style: none;
}

/* secA トップ*/
.secA{
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}
.secAgrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 1fr;
  gap: 1%;
}
.secA img{
  width: 100%;
  transition: .3s;
}
figure{
  margin: 0;
  overflow: hidden;
}
.secA a:hover figure img{
  transform: scale(1.2);
}
.item1{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secA h2{
  margin-top: 25%;
}

.videoBox{
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  grid-column: 1/4;
}
video{
  width: 100%;
}
.subSec{
  display: flex;
  align-items: center;
  margin-top: 5%;
}


/* カテゴリー secB */
.secB{
  margin-top: 10%;
}
.secB ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.secB a:hover{
  color: aqua;
}
.secB ul:before, .secB ul:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.secB ul:before {left: 10px;}
.secB ul:after {right: 10px;}


/* secC ランキング */
.secC{
  color: #fff;
  background-color: #000;
  font-family: 'Anton', sans-serif;
}
.secC a{
  color: #fff;
}
.secC .container{
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 2%;
}
.secCmainImg{
  grid-column: 1/3;
  grid-row: 1/3;
}
.secCtext{
  grid-column: 3/6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10%;
}
.secCtext h2{
  font-size: 3rem;
}
.secCtext a{
  background-color: #fff;
  color: #000;
  width: 30%;
  font-size: 1.25rem;
  text-align: center;
}
.secCtext a:hover{
  background-color: #000;
  color: #fff;
}
.CmainImg{
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.CsubImg{
  width: 100%;
}

/* secD NEWITEM */
.secD{
  font-family: 'Anton', sans-serif;
  margin-top: 5%;
  background-color: #8baaaa;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}
.secD .container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 1%;
  margin-top: 5%;
}
.secD img{
  width: 100%;
}

.Dtext{
  width: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
} 

/* secE PICK UP */
.secE{
  font-family: 'Anton', sans-serif;
  margin-top: 5%;
  background-color: #D8BfD8;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}
.secE .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 1%;
  margin-top: 5%;
}
.secE img{
  width: 100%;
}
.Etext{
  width: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
} 












@media (max-width: 576px) {
  body{
    grid-template: 
  "... ...... ...... ...... ...... ...... ..." 
  "... header header header header header ..." 1fr
  "... ...... ...... ...... ...... ...... ..." 
  "... secA   secA   secA   secA   secA   ..." 50vh
  "... ...... ...... ...... ...... ...... ..." 
  "... subSec subSec subSec subSec subSec ..." 10vh
  "... ...... ...... ...... ...... ...... ..." 
  "... secB   secB   secB   secB   secB   ..." 1fr
  "... ...... ...... ...... ...... ...... ..." 
  "... secC   secC   secC   secC   secC   ..." 40vh
  "... ...... ...... ...... ...... ...... ..." 
  "... secD   secD   secD   secD   secD   ..." 40vh
  "... ...... ...... ...... ...... ...... ..." 
  "... secE   secE   secE   secE   secE   ..." 40vh
  "... ...... ...... ...... ...... ...... ..." 
  "... footer footer footer footer footer ..." 1fr
  "... ...... ...... ...... ...... ...... ..." 
  /auto 1fr auto 1fr auto 1fr auto
  ;

  }
  .subSec h2{
    font-size: 1.25rem;
  }
  .secCtext h2{
    font-size: 2rem;
  }
  .secCtext a{
    font-size: 1rem;
    width: 150px;
  }
}